<configuration>
    <conversionRule conversionWord="hl" converterClass="pw.aru.core.logging.LevelHighlighter"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%hl(%-1level)] [%green(%logger{0})]: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>